/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
	--ifm-color-primary: #d50215;
	--ifm-color-primary-dark: #bf0213;
	--ifm-color-primary-darker: #b40212;
	--ifm-color-primary-darkest: #94010f;
	--ifm-color-primary-light: #e00217;
	--ifm-color-primary-lighter: #e60c22;
	--ifm-color-primary-lightest: #ea2336;
	--ifm-code-font-size: 95%;
	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

	--companion-navbar-bg: #d50215;
	--ifm-navbar-background-color: var(--companion-navbar-bg);
	--ifm-navbar-link-color: #ffffff;
	--ifm-navbar-link-hover-color: #ffffff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
	--ifm-color-primary: #f04d63;
	--ifm-color-primary-dark: #ed3249;
	--ifm-color-primary-darker: #eb233e;
	--ifm-color-primary-darkest: #d30825;
	--ifm-color-primary-light: #f3687d;
	--ifm-color-primary-lighter: #f47788;
	--ifm-color-primary-lightest: #f89aa7;

	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
	--ifm-menu-color-background-active: rgba(255, 255, 255, 0.3);
	--ifm-navbar-link-hover-bg: #ffffff;
	/* --ifm-menu-color: #ffffff; -- this doesn't seem necessary */
	--ifm-navbar-link-color: #ffffff;
	--ifm-navbar-link-hover-color: #ffffff;
}

/* Navbar (the top bar, not the sidebar) link styles */
.navbar__link {
	border-radius: 0.25rem;
	margin-top: 0.7em;
	padding-bottom: 0.5em;
}

@media screen and (max-width: 1108px) {
	.navbar__link {
		margin-top: 0em;
		padding-top: 0em;
		padding-bottom: 0em;
	}
}

/* Navbar (the top bar, not the sidebar) link active styles */
.navbar__link--active {
	color: #ffffff !important;
	background-color: rgba(255, 255, 255, 0.2);
}

[data-theme='dark'] .navbar__link--active {
	color: #ffffff !important;
	background-color: rgba(255, 255, 255, 0.25);
}

/* Navbar (the top bar, not the sidebar) hover link styles - active or not */
.navbar__link:hover {
	color: #ffffff !important;
	background-color: rgba(255, 255, 255, 0.1);
}

[data-theme='dark'] .navbar__link:hover {
	color: #ffffff !important;
	background-color: rgba(255, 255, 255, 0.15);
}

.text-gray-50 {
	color: #f9fafb;
}
.text-gray-500 {
	color: #6b7280;
}

h2 ~ :not(h1, h2) {
	margin-left: 2rem;
}

/* when window is very narrow the "pull-down" sidebar's class is .navbar-sidebar
   when the window is wider the permanent sidebar class is .theme-doc-sidebar-menu
 */
.navbar-sidebar {
	--ifm-navbar-background-color: #fff;
}

[data-theme='dark'] .navbar-sidebar {
	--ifm-navbar-background-color: #1b1b1d;
}

/* the top of the narrow-win sidebar is red regardless of theme */
.navbar-sidebar__brand {
	background-color: var(--companion-navbar-bg);
}

/* Make the dark/light mode button stand out better.
   Unfortunately, it doesn't have a non-serialized classname, so do it by elimination  */
.clean-btn:not(:hover):not(.navbar-sidebar__close):not(.navbar__toggle) {
	background-color: rgba(255, 255, 255, 0.75);
}

[data-theme='dark'] .clean-btn:not(:hover):not(.navbar-sidebar__close):not(.navbar__toggle) {
	background-color: rgba(0, 0, 0, 0.25);
}

/* make groups stand out better */
.menu__list-item-collapsible {
	border-top: 1px solid rgba(0, 0, 0, 0.15);
}

/* with all of the above, default is black in light mode and grey in dark mode for some reason; neither look great */
.navbar__toggle {
	color: white;
}

.navbar__toggle:hover {
	color: rgba(255, 255, 255, 0.75);
}
